/* 5/5上課 */
.headphoto{
    width: 24px;
    height: 24px;
    border-radius: 64px;
    margin-right: 8px;
}
.arrow {
    border: solid rgba(0, 0, 0, 0.2);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right{
    transform: rotate(-45deg);
    margin-right: 10px;
}